* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tablatop15 {
    position: absolute;
    top: 50%;
    left: 1%; /* Ajusta según la distancia deseada desde el borde izquierdo */
    transform: translateY(-50%);
    width: 500px; /* Ajusta según el tamaño deseado */
    max-width: 50%; /* Ajusta para mantener proporciones en pantallas más pequeñas */
    z-index: 2; /* Asegura que esté por encima del video */
}

body, html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.top-players {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 20%;
    max-width: 300px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.logo-mixear {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    max-width: 80%;
}

.logos {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 40px;
}

.logos img {
    width: 50px;
    transition: transform 0.3s ease;
}

.logos img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .logo-mixear {
        width: 150px;
    }

    .dslogo {
        gap: 10px;
    }

    .dslogo img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    .logo-mixear {
        width: 120px;
    }

    .dslogo img {
        width: 35px;
    }
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container .glass {
    position: relative;
    width: 180px;
    height: 200px;
    background: linear-gradient(#fff2, transparent);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    border-radius: 10px;
    margin: 0 -45px;
    backdrop-filter: blur(10px);
    transform: rotate(calc(var(--r) * 1deg));
  }
  
  .container:hover .glass {
    transform: rotate(0deg);
    margin: 0 10px;
  }
  
  .container .glass::before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  .container .glass svg {
    font-size: 2.5em;
    fill: #fff;
  }

@media (max-width: 768px) {
    .top-players {
        width: 95%;
        bottom: 50px;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .top-players {
        width: 95%;
        bottom: 50px;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }
}